@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

*{
  box-sizing: border-box;
  margin: 0;
}

html, body{
  height: 100%;
  margin: 0;
  background: black;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.ui.pagination.menu{
  background-color: black;
}
.ui.menu .item{
  color:white !important;
}
.ui.pagination.menu .active.item{
  background-color: red;
}
